<!--<div class="mb-12">-->
<!--  <div class="container">-->
<!--  <div class="business-slider">-->
<!--    <div class="logo-contact">-->
<!--      <img id="business-card" src="assets/business_card.png" alt="">-->
<!--      <p>Adres: ul. Juliana Tokarskiego 16, Kraków</p>-->
<!--      <p>Numer kontaktowy: +48 999 999 999</p>-->
<!--    </div>-->
<!--    <h1>2</h1>-->
<!--  </div>-->
<!--  </div>-->
<!--&lt;!&ndash;  <img src="assets/restaurant.jpg" alt="">&ndash;&gt;-->
<!--</div>-->
<div class="container">
  <div class="w-100">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-3">
      </div>
      <div class="col-3">
        <h1>Kontakt:</h1>
      </div>
      <div class="col-3">
        <h1>Mapa:</h1>
      </div>
    </div>
    <div class="row justify-content-md-center align-items-center">
      <div class="col-3 logo">
        <img id="business-card" src="assets/business_card.png" alt="">

      </div>
      <div class="col-3 contact">
        <p>ul. Juliana Tokarskiego 16</p>
        <p>Kraków</p>
        <p>+48 999 999 999</p>
      </div>
      <div class="col-3 map">
        <img id="map" src="assets/map.jpg" alt="">
      </div>
    </div>
  </div>
</div>
