<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" routerLink="">CATERING</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" routerLink="">Home</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="menu">Menu</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="create-dish">Dodaj danie</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--</nav>-->

<!--<nav>-->
<!--  <div class="container">-->
<!--    <h1>Restaurant</h1>-->

<!--    <div class="menu">-->
<!--      <a routerLink="" class="is-active">Home</a>-->
<!--      <a routerLink="menu">Menu</a>-->
<!--      <a routerLink="/create-dish">Dodaj danie</a>-->
<!--      <a routerLink="/cart"><fa-icon [icon]="faShoppingCart"></fa-icon></a>-->
<!--    </div>-->

<!--    <button class="hamburger" (click)="hamburgerClicked()" [ngClass]="status ? 'hamburger is-active' : 'hamburger'">-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</nav>-->


<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <fa-icon [icon]="faBars"></fa-icon>
  </label>
  <label class="logo"><a routerLink="" class="active">Good Kitchen</a></label>
  <ul>
    <li><a routerLink="" class="active">Home</a></li>
    <li><a routerLink="menu">Menu</a></li>
    <li><a routerLink="create-dish">Dodaj danie</a></li>
    <li><a routerLink="orders">Zamówienia</a></li>
    <li><a routerLink="cart"><fa-icon [icon]="faShoppingCart"></fa-icon></a></li>
    <li *ngIf="!isLogged"><a routerLink="login">Logowanie</a></li>
    <li *ngIf="!isLogged"><a routerLink="register">Rejestracja</a></li>
    <li *ngIf="isLogged && user!==null"><a>Witaj {{user.firstName}}</a></li>
    <li *ngIf="isLogged"><fa-icon (click)="logout()" [icon]="faArrowRightFromBracket" class="bracket-icon"></fa-icon></li>
  </ul>
</nav>
