<form [formGroup]="filterForm">
  <div formArrayName="cuisineTypes">
    <h2>Rodzaje kuchni:</h2>
    <div *ngFor="let cuisineType of cuisineTypesFormArray.controls; let i=index">
      <input id="cuisineType-{{ i }}" type="checkbox" (ngModelChange)="cuisineTypeCheckboxChanged(i, $event)" [formControlName]="i">
      <label for="cuisineType-{{ i }}">{{dishCuisines[i].name}}</label>
    </div>
  </div>
  <div formArrayName="dishTypes">
    <h2>Rodzaje dań:</h2>
    <div *ngFor="let dishCategory of dishTypesFormArray.controls; let i=index">
      <input id="dishType-{{ i }}" type="checkbox" (ngModelChange)="dishTypeCheckboxChanged(i, $event)" [formControlName]="i">
      <label for="dishType-{{ i }}">{{dishCategories[i].name}}</label>
    </div>
  </div>
  <div formArrayName="ratings">
    <h2>Ocena dania:</h2>
    <div *ngFor="let rating of ratingsFormArray.controls; let i=index">
      <input id="rating-{{ i }}" type="checkbox" (ngModelChange)="ratingCheckBoxChanged(i, $event)" [formControlName]="i">
      <label for="rating-{{ i }}">{{ratings[i]}}</label>
    </div>
  </div>
  <div class="form-group">
    <label for="minPrice">Minimum Price: </label>
    <input id="minPrice" type="number" min="{{this.minPrice}}" max="{{this.maxPrice}}" value="{{this.minPrice}}" (ngModelChange)="minValueChanged()" formControlName="minPrice" class="form-control">
  </div>
  <div class="form-group">
    <label for="maxPrice">Maximum Price: </label>
    <input id="maxPrice" type="number" min="{{this.minPrice}}" max="{{this.maxPrice}}" value="{{this.maxPrice}}" (ngModelChange)="maxValueChanged()" formControlName="maxPrice" class="form-control">
  </div>
</form>
